* {
  /* border: solid 1px red; */
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 300;
  color: #646cff;
  text-decoration: inherit;
}
body {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #dcd7c9,
    #a27b5c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #dcd7c9,
    #3f4e4f99
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body,
#root,
.App {
  min-height: 100vh;
}

.btn-close {
  display: block;
  margin-left: auto;
}
.bg-color-one {
  background-color: #2c3639;
}
.bg-color-two {
  background-color: #3f4e4f;
}
.bg-color-three {
  background-color: #a27b5c;
}
.bg-color-four {
  background-color: #dcd7c9;
}

button.bg-color-three:hover {
  background-color: #0f0f0f;
  color: #fff;
}

/********************HEADER********************/
.header {
  min-height: 5rem;
  background-color: #3f4e4f;
}
.header-container {
  min-height: inherit;
}
.navbar {
  min-height: inherit;
  padding: 2.5rem 0;
  font-size: 1.5rem;
}
.navbar-nav {
  /* font-weight: bold; */
  /* font-size: 1.3rem; */
}
.navbar-brand {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bolder;
}

.navbar-toggler {
  padding: 0.1em;
}
/********************Table********************/
.table-responsive {
  background-color: #fff;
}

/********************Modal********************/

.datalist-empresa {
  background-color: red;
}
.modal {
  background-color: #2c363980;
}
.modal-container {
  width: 90%;
  animation: fromLeftAnimation 1.2s;
  opacity: 1;
}
/********************Modal********************/
.footer {
  min-height: 5rem;
  color: #f0f0f0;
  background-color: #212529;
}
/********************Animations********************/
@keyframes fromLeftAnimation {
  0% {
    transform: translateY(-100px);
    opacity: 0.33;
  }

  50% {
    transform: translateY(3px);
    opacity: 0.66;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/********************QUERYS********************/
@media screen and (min-width: 576px) {
  /********************HEADER********************/
  .navbar {
    padding: 1.5rem 0;
  }

  .navbar-toggler {
    padding: 0.3em;
  }
}

@media screen and (min-width: 768px) {
  /********************Modal********************/
  .modal-container {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  /********************Header********************/
  .header {
    min-height: 2.5rem;
  }
  .navbar {
    padding: 1.25rem 0;
  }
  /********************Modal********************/
  .modal-container {
    width: 30%;
  }
}
