* {
  /* border: solid 1px red; */
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 300;
  color: #646cff;
  text-decoration: inherit;
}

body,
#root,
.App {
  min-height: 100vh;
}

.btn-close {
  display: block;
  margin-left: auto;
}

/********************HEADER********************/
.header {
  min-height: 5rem;
}
.header-container {
  min-height: inherit;
}
.navbar {
  min-height: inherit;
  padding: 2.5rem 0;
  font-size: 1.5rem;
}
.navbar-nav {
  /* font-weight: bold; */
  /* font-size: 1.3rem; */
}
.navbar-brand {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bolder;
}

.navbar-toggler {
  padding: 0.1em;
}

/********************Modal********************/
.form-modal {
  /* animation: fromLeftAnimation 2s;
  opacity: 1; */
}
.datalist-empresa {
  background-color: red;
}
.form-modal {
  background-color: #0f0f0f90;
}
.modal-container {
  width: 90%;
  animation: fromLeftAnimation 1.2s;
  opacity: 1;
}
/********************Animations********************/
@keyframes fromLeftAnimation {
  0% {
    transform: translateY(-100px);
    opacity: 0.33;
  }

  50% {
    transform: translateY(3px);
    opacity: 0.66;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/********************QUERYS********************/
@media screen and (min-width: 576px) {
  /********************HEADER********************/
  .navbar {
    padding: 1.5rem 0;
  }

  .navbar-toggler {
    padding: 0.3em;
  }
}

@media screen and (min-width: 768px) {
  /********************Modal********************/
  .modal-container {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  /********************Header********************/
  .header {
    min-height: 2.5rem;
  }
  .navbar {
    padding: 1.25rem 0;
  }
  /********************Modal********************/
  .modal-container {
    width: 30%;
  }
}
